* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.bg-blue {
  background: #0c325a;
}
.bg-green {
  background: #7cbb02;
}
.bg-grey {
  background: #dedede;
}

#site-header {
  height: 550px;
  width: 100%;
}
#site-main {
  height: 1000px;
}
#site-footer {
  height: 150px;
}
.container {
  width: 80%;
  margin: auto;
}
/* /general settings */

/* utility class */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* header */

/* nav */
ul {
  list-style-type: none;;
}
li{
  text-transform: uppercase;
  color: white;
  display: inline-block;
  padding: 0px 10px;
  line-height: 70px;
  font-size: 10px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  width: 80%;
  height: 80px;
  margin: auto;
  margin-top: 12px;
}
a:hover {
  color: orange;
}
.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 80px;
  margin-top: 10px;

}
/* /nav */
/* tutor login and plan */
#login, #plan{
  line-height: 20px;
  border-radius: 3px;
  margin: 0 10px;
  padding: 5px 10px;
}
#login:hover {
  background: white;
  color: orange;
  cursor: pointer;
}
#login {
  border: 1px solid white;
}
#plan:hover {
  background: orange;
  cursor: pointer;
}
#tutor:hover {
  color: orange;
  cursor: pointer;
}
/* /tutor login and plan */
/* banner settings */
.big-image {
  position: relative;
  height: 470px;
}
.banner-title {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.banner-image {
  background-image: url(../img/banner_header.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 105% 105%;

}
.bottom {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 3px
}
.bottom:hover {
  color: orange;
}
/* /banner settings */

/* /header */

/* main */
/* main text */
.info-main {
  height: 15%;
}
.text-info-main {
  transform: translateY(50%);
}
.info-main > * {
  text-align: center;
}
h4 {
  padding: 10px;
  color: grey;
}
/* /main text */
.container:after {
  content: "";
  display: table;
  clear: both;
}
.col-main{
  float: left;
  width: 33.33%
}
.profile-pic {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
}
#formation {
  background-image: url(../img/profile.svg);
}
#computer {
  background-image: url(../img/mountain.svg);
}
#doc {
  background-image: url(../img/doc.svg);

}
.profile-pic > h3 {
  text-align: center;
}
